<%= form_with(model: engineer) do |form| %>
  <% if engineer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(engineer.errors.count, "error") %> prohibited this engineer from being saved:</h2>

      <ul>
        <% engineer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
